.logo_img{
    max-width: 60px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    padding: 0 0.2rem;
    color: black;
    
}
nav svg{
    height: 10px;
    padding-left: .5rem;
}
.nav_menu-lt > svg{
    height: 24px;
}

.my_btn{
    padding: 0.5rem;
    background-color: #191919;
    border-radius: 20px;
    border: 0;
}
.btn_red{
    background-color: #CD3D10;
}
.btn_blue{
    background-color: #2C64E6;
}

.jumbotron{
    background-image: url(../img/jumbo-bg.png);
    height: 500px;
    background-position: center;
    background-size: cover;
}
.jumbotron img{
    width: 60%;
    height: auto;
}
.jumbotron-mid{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    height: 600px;
    background-position: center;
    background-size: cover;
}
.jumbotron-mid img{
    width: 60%;
    height: auto;
}
.col-jumbo{
    padding-top: 12rem;
}
.col-jumbo-mid{
    padding-top: 2rem;
}
.card-img{
    border-radius: 20%;
}
.card{
    border: 0;
}